body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-btn-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.MuiAppBar-root {
  background-color: rgb(1, 12, 12) !important
}

.search-container {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}


.home-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 25px;
  max-width: 1320px;
  margin: 0 auto;
  padding: 8px;
}

.home-left {

}

.home-right {

}

.typography {
  font-weight: bold;
    font-size: 4rem;
    line-height: 0.8em;
    letter-spacing: -4px;
    margin-top: 0;
}


.xl2 {
  margin-bottom: 2em;
}


.home-right h2 {
  margin-top: 4em;
  padding-left: 2em;
    font-size: 2em;
}

.profile-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  max-width: 1320px;
  margin: 0 auto;
  width: 100%;
  margin-top: 3em

  }
  .parent-profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    position: relative
  }


  .profile-title-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    max-width: 1320px;
    margin: 0 auto;
    justify-content: space-around;
    width: 100%
  }

  .profile-pic-container, .profile-inventory-title{
    text-align: center;
  }


  .profile-inventory-title {

    align-items: center;
    justify-content: center;
    display: flex;
  }


  .grid-empty {
    height: 200px;
    width: 100%
  }


  .profile-item-four {
    position: relative;
    top: -130px
  }

  .profile-link-btn {
    position: absolute !important;
    top: -55px !important;
    left: 10px !important;
  }

  .avatar-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }


  .newitem-container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 8px;
    margin: 0 auto !important;
    min-width: 500px;
  }

  .error {
    color: red
  }


  .search-inventory-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }


  .footer-links-profile {
    display: flex;
    gap: 20px;
    margin: 0 auto;
    margin-bottom: 4em
  }